
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Login </title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
    <script src="{% static 'login/script.js' %}"></script>
</head>
<body>
<center>
<h1> Login</h1>

 <!--  
<form action="../list/" method="post">   -->
    <div class="login">
   <input type="text" placeholder="username" name="User"><br>
   <input type="password" placeholder="password" name="Password"><br>
   <input type="submit" value="Login once database works">
   <input type="button" value="Login to go to page" onclick="location.href = '../list/';">
   </div>
   <a href = "../home"> back </a>
 <!--  </form>-->

<center>
</body>
</html>