body {
    background-image: url("/static/login/images/stuff.jpg");
    text-align: center;
    background-color: white;
}

header {
    background-color: LightSlateGrey;
    box-shadow: 2px 2px 15px;
    padding: 50px;
    color: white;
    font-style:italic;
}

form {
    padding:50px;
    margin: 20px;
    max-width: max-content;
    min-width: fit-content;
    margin: 100px auto;
    background-color: LightSlateGrey;
    color:white;
}

.card {
    box-shadow: 2px 2px 5px;
    border-radius: 1rem;
    background-color: LightSlateGrey;
}

label {
    margin: none;
    text-align: left;
    padding: 20px;
    font-weight: bold;
    background-color: LightSlateGrey;
}

button {
    background-color: LightSlateGrey;
    margin-top: 50px;
    color: black
}

a {
    text-decoration: none;
}