<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>editAccount </title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'editAccount/acc.css' %}">
    <script src="{% static 'edit/script.js' %}"></script>
</head>
<body>
<center>
<h1>What do you want to change</h1>
</center>
<center>
 <a href = "../list/"> back </a>
</center>
</body