
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>list </title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'list/list.css' %}">
    <script src="{% static 'list/script.js' %}"></script>
</head>
<body>

<h1>Tell us your desires</h1>
 <div class = "topnav">
  <a class = "signup" href="">Edit Account</a>

  <a class = "log" href="">Edit Item Page</a>

  </div>
  <a href = "../login/"> back </a>
</body>
</html>