body
{
     background-color: black;
}
h2
{
    color: purple;
}
h1
{
 color: blue;
}
.menu
{
  text-align: center;
  padding: 14px 16px;
  background-color: dark-grey;
  border: 2px solid red;
   font-size: 20px;
}